<div class="box wide">
  <div class="legend">
    <%= t(".legend") %>
  </div>

  <p>
    <%= t(".hint_html", user: @user.invited_by_user.try(:username)) %>
  </p>

  <%= render :partial => "users/invitationform",
    :locals => { :return_home => true } %>

  or

  <p>
  <%= button_to t(".skip"), "/", :method => :get %>
  </p>
</div>
